# Executables
*.exe
*.out
*.app
.Rproj.user


# Notebook checkpoints
.ipynb_checkpoints/

# ignore
*.RData

# Ignore deployment file
rsconnect/

# files to ignore
readin_data_app/oulad/
oulad_original/

